.toolbar {
  padding: 10px;
  /* background: red; */
}

.toolbarIcons {
  /* background: green; */
  /* width: 30%; */
  display: flex;
}

.icon {
  margin-right: 10px;
}
.searchWrapper {
  margin-right: 10px;
}
